.repositories{
    margin-top: 32%;
    margin-left: -50%;

}
.repositories h1{
   font-size: 18px;
   font-weight: bold;
}
.repositories .card{
    max-height: 100vh;
    max-width: 230px;
}
.repositories .card img{
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin-top: 5%;
   margin-left: 26%;
}
.repositories .card .card-body span{
   font-size: 14px;
   font-weight: normal;
}
.repositories .card .card-body{
    font-size: 16px;
    font-weight: bolder;
}
.repositories .card button{
    width: 100px;
    height: 30px;
    background-color:#31B86C;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    margin-left: 22%;
}