<div class=" container repositories">
    <h1>REPOSITORIES</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="assets/github-logo.png" class="card-img-top" alt="card-logo">
                <div class="card-body">
                    Repo-Name: <span>Giphy App</span>
                    Description: <span class="card-text">This is a giphy app that uses giphy api.</span> <br>
                    Language: <span>Typescript</span>
                    Created: <span>28th Sept</span> <br><br>
                    <a href="#"><button>View</button></a>
                </div>
            </div>
        </div>
    </div>
</div>