<div class="container-fluid" style="padding: 0; margin: 0;">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/">GIT-SEARCH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex search-form">
                <input class="form-control me-2" type="search" [(ngModel)]="userName" name="userName" (keyup.Enter)="search()" placeholder="Search..." aria-label="Search" aria-label="Search">
            </form>
        </div>
    </nav>
</div>

<div class="container">
    <div class="container user-content">
        <div class="user-avatar">
            <img src="{{user.avatar_url}}" alt="profile">
        </div>
        <div class="user-info">
            <p class="user-name">{{user.name}}<br>
                <span>{{user.login}}</span>
            </p>

            <div class="user-extra">
                <span>{{user.public_repos}}</span>&nbsp;
                <p>Repositories</p>
                &nbsp;&nbsp;&nbsp;

                <span>{{user.followers}}</span>&nbsp;
                <p>Followers</p>
                &nbsp;&nbsp;&nbsp;

                <span>{{user.following}}</span>&nbsp;
                <p>Following</p>
            </div>

            <div class="github-button">
                <a href="{{user.html_url}}" target="_blank"><button><img src="assets/github-logo.png"
                            alt="button-logo">&nbsp;&nbsp;GITHUB</button></a>
            </div>
        </div>
    </div>

    <div class=" container repositories">
        <h1>REPOSITORIES</h1>
        <div class="repo-container">
            <div class=" card-container" *ngFor="let repo of repositories">
                <div class="card">
                    <img src="assets/github-logo.png" class="card-img-top" alt="card-logo">
                    <div class="card-body">
                        Repo-Name: <span>{{repo.name | slice:0:15}}</span> <br>
                        Description: <span class="card-text">{{repo.description | slice:0:15}}...</span> <br>
                        Language: <span>{{repo.language | slice:0:15}}</span><br>
                        Created: <span>{{repo.created_at | createDate}}</span> <br><br>
                        <a href="{{repo.html_url}}" target="_blank"><button>View</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>