<div class="container user-content">
    <div class="user-avatar">
        <img src="assets/back.jpg" alt="profile">
    </div>
    <div class="user-info">
        <p class="user-name">Andrew John <br>
            <span>andrew john</span>
        </p>

        <div class="user-extra">
            <span>50</span>&nbsp;
            <p>Repositories</p>
            &nbsp;&nbsp;&nbsp;

            <span>20</span>&nbsp;
            <p>Followers</p>
            &nbsp;&nbsp;&nbsp;

            <span>15</span>&nbsp;
            <p>Following</p>
        </div>

        <div class="github-button">
            <button><img src="assets/github-logo.png" alt="button-logo">&nbsp;&nbsp;GITHUB</button>
        </div>
    </div>
</div>

