.navbar a{
    margin-left: 20%;
    font-size: 28px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}
.navbar{
    background-color: #4F77C6;
}
.navbar .form{
    margin-left: 10% !important;
}
.navbar .form input{
    border-radius: 20px;
    padding-left: 42px;
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
}
.navbar .form .fa-search{
    position: absolute;
    margin-top: 25px;
    margin-left: 1%;
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
    color: grey;
}
.user-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: -10%;
    width: 65vw;
    max-width: 100%;
    max-height: 50vh;
}
.user-avatar img{
    width: 170px;
    height: 170px;
    object-fit: fill;
    border-radius: 50%;
}
.user-info{
    line-height: 20px;
    margin-left: 5%;
}
.user-info .user-name{
    font-size: 18px;
}
.user-info .user-name span{
    font-size: 13px;
}
.user-extra{
    display: flex;
    flex-direction: row;
}
.user-extra span{
    font-size: 14px;
    font-weight: bolder;
    color: black;
}
.user-extra p{
    font-size: 15px;
}
.github-button button{
    width: 120px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color:#55B16F;
    outline: none;
    border: none;
    border-radius: 5px;
   
    text-decoration: none;
}
.github-button button img{
    width: 20px;
    height: 20px;
    object-fit: fill;
}
.repositories{
    margin-top: 8%;
    max-width: 70vw;
}
.repositories h1{
   font-size: 18px;
   font-weight: bold;
}
.repositories .card{
    max-height: 100vh;
    overflow-y: auto;
    max-width: 230px;
    width: 230px;
    border-radius: 10px;
}
.repositories .card img{
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin-top: 5%;
   margin-left: 26%;
}
.repositories .card .card-body span{
   font-size: 14px;
   font-weight: normal;
}
.repositories .card .card-body{
    font-size: 16px;
    font-weight: bolder;
}
.repositories .card button{
    width: 100px;
    height: 30px;
    background-color:#31B86C;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    margin-left: 22%;
}
.repositories .card-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    margin-top: 3%;
}
